[submodule "libraries/AzureIoT"]
	path = libraries/AzureIoT
	url = https://github.com/VSChina/ESP32_AzureIoT_Arduino
[submodule "libraries/Arduino-Log"]
	path = libraries/Arduino-Log
	url = https://github.com/thijse/Arduino-Log
[submodule "libraries/arduino-mqtt"]
	path = libraries/arduino-mqtt
	url = https://github.com/256dpi/arduino-mqtt
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
